<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settings"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>
        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gamekey.GamekeyService"
            android:exported="false" />

        <service
            android:name=".gamekey.GamekeyOverlayHandle"
            android:exported="false" />

        <activity
            android:name=".gamekey.GamekeyEditorActivity"
            android:theme="@style/Theme.GamekeyEditor"
            android:exported="false" />

    </application>
</manifest>
